#debug{
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

body{
    background-color: #F7F7F8;
}

/*.panel, .alert{
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.55);
}*/
